spring:
  datasource:
    url: jdbc:mysql://localhost:3306/java-basic-learn-spring-batch?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456789
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    platform: mysql
    druid:
      max-active: 10
  batch:
    initialize-schema: always
    job:
      names: FailRetryDemo.failJobDemo.002   # Comma-separated list of job names to execute on startup (for instance,`job1,job2`). By default, all Jobs found in the context are executed.
      enabled: off  # 不需要任务自动执行
logging:
  level:
    com:
      futao:
        basic:
          learn:
            spring:
              batch: debug
