<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futao.basic.learn.mybatis.dao.BlogMapper">

    <!--配置一个LRU缓存（二级缓存），每隔60秒进行刷新，存储512个对象-->
    <!--
        LRU     最近最少使用策略，移除最长时间不被使用的对象
        FIFO    先进先出策略
        SOFT    软引用策略，移除基于垃圾回收器状态和软引用规则的对象
        WEAK    弱引用策略，更积极地移除基于垃圾回收器状态和软引用规则的对象
    -->
    <!--<cache type="mybatisCacheRedis"/>-->
    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>

    <insert id="insert">
        INSERT INTO blog(id, title, description, content, create_date_time)
        VALUES (#{id}, #{title}, #{description}, #{content}, #{createDateTime})
    </insert>

    <select id="byId" resultType="Blog">
        SELECT *
        FROM blog
        WHERE id = #{id}
    </select>
</mapper>